@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

h1 {
  color: red;
  font-family: 'Poppins', sans-serif;
  border: 1px solid black;
  padding: 4rem;
  margin: 4rem;
  text-decoration: underline;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}
